body{
    background: linear-gradient(45deg, rgb(229, 250, 255), rgb(168, 206, 215));
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.movies {
    display : flex;
    flex-wrap: wrap;
}

.card{
    height: 350px;
    width: 250px;
    padding: 25px;
    margin: 25px;
    box-shadow: 5px 10px 10px 5px rgba(19, 18, 18, 0.2);
    transition: 0.3s;
    border-radius: 15px; 
    background-color: rgb(229, 265, 260);
}

.card:hover {
    box-shadow: 10px 15px 20px 10px rgba(3, 3, 3, 0.2);
}

.poster{
    border-width: 10px;
    border-color: white;
    border-style: solid;
    box-shadow: 5px 10px 10px 5px rgba(19, 18, 18, 0.2);
}

